[Unit]
Description=Reversing SSH tarpit
After=network.target

[Service]
ExecStart=/usr/local/bin/reverssh -c /etc/reverssh/reverssh.toml
Restart=always

[Install]
WantedBy=multi-user.target